import React, { ReactElement } from 'react';

import { Title, Body } from './{{name}}.styles';
import { Props } from './{{name}}.config';

function {{name}}({ title, children }: Props): ReactElement {
  return (
    <div>
      <Title>{title}</Title>
      <Body>{children}</Body>
    </div>
  );
}

export default {{name}};
